.DS_Store
*.mpit
set-0/
TRACE.*

bsc-handson2/my_mpi_app/bin/my_mpi_app.prv.gz
bsc-handson/apps/lulesh/lulesh2_27p.prv
bsc-handson/apps/matrix/matrix.l1.prv.gz
bsc-handson/apps/matrix/matrix.l2.prv.gz

bsc-handson2/my_mpi_app/bin/my_mpi_app.pcf
bsc-handson/apps/lulesh/lulesh2_27p.pcf
bsc-handson/apps/matrix/matrix.l1.pcf
bsc-handson/apps/matrix/matrix.l2.pcf

bsc-handson2/my_mpi_app/bin/my_mpi_app.row
bsc-handson/apps/lulesh/lulesh2_27p.row
bsc-handson/apps/matrix/matrix.l2.row
bsc-handson/apps/matrix/matrix.l1.row