DEFAULT_OPTIONS

LEVEL               THREAD
UNITS               NANOSEC
LOOK_BACK           100
SPEED               1
FLAG_ICONS          ENABLED
NUM_OF_STATE_COLORS 1000
YMAX_SCALE          37


DEFAULT_SEMANTIC

THREAD_FUNC          State As Is


STATES
0    Idle
1    Running
2    Not created
3    Waiting a message
4    Blocking Send
5    Synchronization
6    Test/Probe
7    Scheduling and Fork/Join
8    Wait/WaitAll
9    Blocked
10    Immediate Send
11    Immediate Receive
12    I/O
13    Group Communication
14    Tracing Disabled
15    Others
16    Send Receive
17    Memory transfer


STATES_COLOR
0    {117,195,255}
1    {0,0,255}
2    {255,255,255}
3    {255,0,0}
4    {255,0,174}
5    {179,0,0}
6    {0,255,0}
7    {255,255,0}
8    {235,0,0}
9    {0,162,0}
10    {255,0,255}
11    {100,100,177}
12    {172,174,41}
13    {255,144,26}
14    {2,255,177}
15    {192,224,0}
16    {66,66,66}
17    {255,0,96}


EVENT_TYPE
6    40000001    Application
6    40000003    Flushing Traces
6    40000004    I/O Read
6    40000005    I/O Write
VALUES
1      Begin
0      End


EVENT_TYPE
6    40000012    Tracing
VALUES
0      Disabled
1      Enabled


EVENT_TYPE
6    40000011    I/O Size


EVENT_TYPE
1    50100001    Send Size in MPI Global OP
1    50100002    Recv Size in MPI Global OP
1    50100003    Root in MPI Global OP
1    50100004    Communicator in MPI Global OP


EVENT_TYPE
1    51100001    Send Size in PACX Global OP
1    51100002    Recv Size in PACX Global OP
1    51100003    Root in PACX Global OP
1    51100004    Communicator in PACX Global OP


EVENT_TYPE
9   50000001    MPI Point-to-point
VALUES
4   MPI_Irecv
3   MPI_Isend
6   MPI_Waitall
0   Outside MPI


EVENT_TYPE
9   50000002    MPI Collective Comm
VALUES
10   MPI_Allreduce
8   MPI_Barrier
0   Outside MPI


EVENT_TYPE
9   50000003    MPI Other
VALUES
21   MPI_Comm_create
19   MPI_Comm_rank
20   MPI_Comm_size
32   MPI_Finalize
31   MPI_Init
0   Outside MPI


EVENT_TYPE
7  42000050 Instr completed (PAPI_TOT_INS)
7  42000059 Total cycles (PAPI_TOT_CYC)
7  42000002 L2D cache misses (PAPI_L2_DCM)
7  42000052 FP instructions (PAPI_FP_INS)
7  42009999 Active hardware counter set


GRADIENT_COLOR
0    {0,255,2}
1    {0,244,13}
2    {0,232,25}
3    {0,220,37}
4    {0,209,48}
5    {0,197,60}
6    {0,185,72}
7    {0,173,84}
8    {0,162,95}
9    {0,150,107}
10    {0,138,119}
11    {0,127,130}
12    {0,115,142}
13    {0,103,154}
14    {0,91,166}


GRADIENT_NAMES
0    Gradient 0
1    Grad. 1/MPI Events
2    Grad. 2/OMP Events
3    Grad. 3/OMP locks
4    Grad. 4/User func
5    Grad. 5/User Events
6    Grad. 6/General Events
7    Grad. 7/Hardware Counters
8    Gradient 8
9    Gradient 9
10    Gradient 10
11    Gradient 11
12    Gradient 12
13    Gradient 13
14    Gradient 14


EVENT_TYPE
0    70000001    Caller at level 1
0    70000002    Caller at level 2
0    70000003    Caller at level 3
VALUES
0   End
1   Unresolved
2   _NOT_Found
3   process_args
4   main
5   vtkfile
6   equation_of_state
7   make_boundary
8   hydro_godunov
9   gatherConservativeVars
10   constoprim
11   slope
12   trace
13   qleftright
14   riemann
15   updateConservativeVars


EVENT_TYPE
0    80000001    Caller line at level 1
0    80000002    Caller line at level 2
0    80000003    Caller line at level 3
VALUES
0   End
1   0 (Unresolved)
2   0 (_NOT_Found)
3   238 (parametres.c)
4   40 (main.c)
5   239 (parametres.c)
6   44 (main.c)
7   163 (vtkfile.c)
8   53 (main.c)
9   167 (vtkfile.c)
10   274 (vtkfile.c)
11   32 (equation_of_state.c)
12   68 (main.c)
13   204 (make_boundary.c)
14   234 (make_boundary.c)
15   80 (hydro_godunov.c)
16   74 (main.c)
17   238 (make_boundary.c)
18   242 (make_boundary.c)
19   246 (make_boundary.c)
20   250 (make_boundary.c)
21   38 (conservar.c)
22   30 (constoprim.c)
23   32 (slope.c)
24   40 (trace.c)
25   32 (qleftright.c)
26   73 (riemann.c)
27   111 (conservar.c)
28   333 (make_boundary.c)
29   341 (make_boundary.c)
30   349 (make_boundary.c)
31   337 (make_boundary.c)
32   345 (make_boundary.c)
33   77 (main.c)
34   122 (main.c)


EVENT_TYPE
0    60000019    User function
VALUES
0   End
1   Unresolved
2   _NOT_Found
3   process_args
4   main
5   vtkfile
6   equation_of_state
7   make_boundary
8   hydro_godunov
9   gatherConservativeVars
10   constoprim
11   slope
12   trace
13   qleftright
14   riemann
15   updateConservativeVars


EVENT_TYPE
0    60000119    User function line
VALUES
0   End
1   0 (Unresolved)
2   0 (_NOT_Found)
3   238 (parametres.c)
4   40 (main.c)
5   239 (parametres.c)
6   44 (main.c)
7   163 (vtkfile.c)
8   53 (main.c)
9   167 (vtkfile.c)
10   274 (vtkfile.c)
11   32 (equation_of_state.c)
12   68 (main.c)
13   204 (make_boundary.c)
14   234 (make_boundary.c)
15   80 (hydro_godunov.c)
16   74 (main.c)
17   238 (make_boundary.c)
18   242 (make_boundary.c)
19   246 (make_boundary.c)
20   250 (make_boundary.c)
21   38 (conservar.c)
22   30 (constoprim.c)
23   32 (slope.c)
24   40 (trace.c)
25   32 (qleftright.c)
26   73 (riemann.c)
27   111 (conservar.c)
28   333 (make_boundary.c)
29   341 (make_boundary.c)
30   349 (make_boundary.c)
31   337 (make_boundary.c)
32   345 (make_boundary.c)
33   77 (main.c)
34   122 (main.c)


EVENT_TYPE
9    40000018    Tracing mode:
VALUES
1      Detailed
2      CPU Bursts


